@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --dark-background: #1F2937;
    --HMT-size: 48px;
    --HMT-weight: extrabold;
    --HMT-color: #f9faf8;
    --HST-size: 18px;
    --HST-color: #e5e7eb;
    --HLT-size: 24px;
    --button-CTA-color: #3882f6;
    --info-header-size: 36px;
    --info-header-color: #1f2937;
    --quote-background: var(var(--HST-color));
    --quote-size: 36px;
    --quote-style: italic;
    --quote-color: var(var(--info-header-color));
    font-size: 16px;
    scroll-behavior: smooth;
}

header, 
.hero-area,
.image-cards-area,
.quote-area,
.cta{
    padding: 0 12rem;
    border: 1px solid lightblue;
}

/*Header Area*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-background);
}

.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    width: 4rem;
}

.logo p{
    color: var(--HMT-color);
    font-size: var(--HLT-size);
    font-weight: 500;
}

nav{
    display: flex;
    gap: 3rem;
}

nav a{
    text-decoration: none;
    list-style: none;
    color:var(--HST-color);
    font-size: var(--HST-size);
    transition: 0.3s;
}

nav a:hover{
    color: rgb(0, 191, 255);
    transform: translate(0rem, -0.25rem);
    font-size: 20px;
}