@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');


:root{
    font-family: 'Roboto', sans-serif;
    --dark-background: #1F2937;
    --HMT-size: 48px;
    --HMT-weight: extrabold;
    --HMT-color: #f9faf8;
    --HST-size: 18px;
    --HST-color: #e5e7eb;
    --HLT-size: 24px;
    --button-CTA-color: #3882f6;
    --info-header-size: 36px;
    --info-header-color: #1f2937;
    --quote-background: var(var(--HST-color));
    --quote-size: 36px;
    --quote-style: italic;
    --quote-color: var(var(--info-header-color));
    font-size: 16px;
    scroll-behavior: smooth;
}

html, body{
    margin: 0;
    padding: 0;
}

header, 
.hero-area,
.image-cards-area,
.quote-area,
.cta{
    padding: 0 15rem;
    /*border: 1px solid lightblue;*/
}

/*HEADER AREA*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-background);
}

.logo{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 0.5rem;
}

.logo img{
    width: 4rem;
}

.logo p{
    color: var(--HMT-color);
    font-size: var(--HLT-size);
    font-weight: 500;
}

nav{
    display: flex;
    gap: 3rem;
}

nav a{
    text-decoration: none;
    list-style: none;
    color:var(--HST-color);
    font-size: var(--HST-size);
    transition: 0.3s;
}

nav a:hover{
    color: var(--button-CTA-color);
    transform: translate(0rem, -0.25rem);
    font-size: 20px;
}

/*HERO AREA*/

.hero-area{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--dark-background);
}

.hero-text{
    position: relative;
    z-index: 1;
}

.hero-text h1{
    color: var(--HMT-color);
    font-size: var(--HMT-size);
    font-weight: 900;
    letter-spacing: 0.1rem;
    width: 25rem;
}

.hero-text p{
    color: var(--HST-color);
    font-size: 24px;
    width: 35rem;
}

.hero-text button{
    background-color: var(--button-CTA-color);
    color: var(--HST-color);
    padding: 1rem;
    margin: 1rem 0;
    font-size: var(--HST-size);
    font-weight: bold;
    border-radius: 0.75rem;
    transition: 0.3s;
}

.hero-text button:hover{
    transform: translate(0.25rem, -0.5rem);
    background-color: var(--HST-color);
    color: var(--dark-background);
    padding: 1.5rem;
    font-size: 20px;
}

.hero-image{
    position: relative;
    bottom: 40px;
    z-index: 0;
}

/*IMAGE CARD AREA*/

.image-cards-area h3{
    text-align: center;
    font-size: var(--info-header-size);
    color: var(--info-header-color);
    font-weight: bold;
    margin: 5rem;
}

.image-cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}
/*Container*/
.image-cards a{
    text-decoration: none;
    list-style: none;
    color: var(--info-header-color);
    margin: 0;
    padding: 0;
    flex-basis: 300px;
}
/*Sub-Container*/
.image{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.image img{
    /*border: 0.5px solid var(--dark-background);*/
    border-radius: 20%;
    box-shadow: 5px 5px 5px lightgray;
    transition: 0.5s;
}

.image img:hover{
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(226, 244, 255);
    width: 220px;
    height: 220px;
}

.image span{
    display: block;
    font-size: 22px;
    color: var(--info-header-color);
    font-weight: 500;
    text-align: center;
}

.image p{
    font-size: 1.2rem;
    text-align: justify;
    padding: 0 1rem;
}
